<?php
// Absolute path to PHP API Client.
define('CLIENT', '/Users/andreas/Sites/podio/frontend-php/api/PodioAPI.php');

define('API_SERVER', 'https://api.podio.com:443');
define('CLIENT_ID', '');
define('CLIENT_SECRET', '');
define('USERNAME', 'podiouser@podio.com');
define('PASSWORD', 'podio_password');

define('SPRINT_APP_ID', 0);
define('SPRINT_STATE_ID', 0);

define('STORY_APP_ID', 0);
define('STORY_SPRINT_ID', 0);
define('STORY_SPRINT_FILTER_VALUE', 0);

define('ITEM_APP_ID', 0);
define('ITEM_STORY_ID', 0);
define('ITEM_STATE_ID', 0);
