<?php

define('OAUTH_ENDPOINT', 'https://podio.com/oauth/authorize');
define('CLIENT', '/path/to/podio-php/PodioAPI.php');
define('CLIENT_ID', '');
define('CLIENT_SECRET', '');

define('SPRINT_APP_ID', null);
define('SPRINT_STATE_ID', null);

define('STORY_APP_ID', null);
define('STORY_SPRINT_ID', null);
define('STORY_OWNER', null);
define('STORY_IMPORTANCE_ID', null);

define('ITEM_TITLE_ID', null);
define('ITEM_APP_ID', null);
define('ITEM_STORY_ID', null);
define('ITEM_STATE_ID', null);
define('ITEM_ESTIMATE_ID', null);
define('ITEM_TIMELEFT_ID', null);
define('ITEM_RESPONSIBLE_ID', null);

define('STATE_DEV_DONE', 'Development done');
define('STATE_QA_DONE', 'QA done');
define('STATE_PO_DONE', 'PO done');
define('STATE_NOT_STARTED', 'Not started');
