body {
  font-size:11px;
  line-height:130%;
  font-family:Arial, sans-serif;
  color:black;
  background:white;
  padding:0;
  margin:0;
  -webkit-user-select:none;
  -moz-user-select:none;
}
h1,h2,h3 {
  margin:0;
  padding:0;
}
ul,li {
  list-style-type:none;
  margin:0;
  padding:0;
}
.header,
.story-group {
  width:1200px;
  float:left;
  clear:left;
}
.story-group {
  margin:0 10px;
  padding:5px 0 10px 0;
  border-bottom:1px solid #ccc;
}
.header {
  -webkit-box-shadow: 0px 1px 10px #888;
  -moz-box-shadow: 0px 1px 10px #888;
  margin-bottom:10px;
}
.header h1 {
  background:#5092BD;
  color:white;
  font-size:24px;
  line-height:40px;
  font-weight:normal;
  letter-spacing:0.1ex;
}
img {
  border-radius:4px;
  -moz-border-radius:4px;
}
.story,
.state,
.header h1 {
  float:left;
  width:295px;
}
.header h1 {
  width:300px;
}
.header h1 span {
  padding:0 5px;
}
.story-group .owner {
  margin-bottom:5px;
}
.story-group .owner img {
  vertical-align:top;
}
.story-group h2 {
  font-size:16px;
  line-height:36px;
  font-weight:bold;
}
.story-item-state {
  background:#eee;
  padding:10px 2px;
  overflow:auto;
  
  margin-right:4px;
  border-radius:5px;
  -moz-border-radius:5px;
  
}
.story-item {
  width:120px;
  cursor:move;
  margin:5px;
  padding:5px;
  float:left;
  
  -webkit-box-shadow: 3px 3px 10px #888;
  -moz-box-shadow: 3px 3px 10px #888;
  border-radius:5px;
  -moz-border-radius:5px;
  position:relative;
}
.story-item .spinner {
  position:absolute;
  width:100%;
  height:100%;
  opacity:0.5;
  border-radius:5px;
  -moz-border-radius:5px;
  top:0;
  left:0;
  background:#fff;
}
.story-item h3 {
  font-size:11px;
  line-height:13px;
}
.story-item .responsible {
  float:right;
  height:16px;
  width:16px;
  margin:0 0 2px 2px;
}
.story .story-item,
.not-started .story-item {
  background:pink;
}
.dev-started .story-item {
  background:#ffD581;
}
.dev-done .story-item {
  background:#0096FB;
  color:white;
}
.po-done .story-item {
  background:#44901D;
  color:white;
}
#footer {
  margin-top:20px;
  float:left;
  width:1000px;
  padding-left:10px;
}