/*

==pink-0==
light: #dbafa7
dark: #692f25
border: #9c1d08
other bg: #eed7d3

==orange-1==
light: #f0c18d
dark: #e86900
border: #cf5e00
other bg: #f8dfc8

==blue-2==
light: #88bbf5
dark: #183969
border: #448ccb
other bg: #c4def8

==grey-3==
light: #cccccc
dark: #999999
border: #333333
other bg: #eeeeee

==green-4==
light: #9bd13c
dark: #1d5413
border: #678e21
other bg: #cbe8a5

*/

/* Colors */
.state .story-item,
.ui-draggable-dragging {
  color:#333;
}
.state-0 .story-item,
#main .dragging-0 {
  background:#dbafa7;
}
.state-1 .story-item,
#main .dragging-1 {
  background:#f0c18d;
}
.state-2 .story-item,
#main .dragging-2 {
  background:#88bbf5;
}
.state-3 .story-item,
#main .dragging-3 {
  background:#cccccc;
}
.state-4 .story-item,
#main .dragging-4 {
  background:#9bd13c;
}

.state-0 .story-item .story-item-details,
#main .dragging-0 .story-item-details {
  border-top:1px solid #eed7d3;
}
.state-1 .story-item .story-item-details,
#main .dragging-1 .story-item-details {
  border-top:1px solid #f8dfc8;
}
.state-2 .story-item .story-item-details,
#main .dragging-2 .story-item-details {
  border-top:1px solid #c4def8;
}
.state-3 .story-item .story-item-details,
#main .dragging-3 .story-item-details {
  border-top:1px solid #eeeeee;
}
.state-4 .story-item .story-item-details,
#main .dragging-4 .story-item-details {
  border-top:1px solid #cbe8a5;
}

/* Colors end */


#story-view {
  -webkit-user-select:none;
  -moz-user-select:none;
}
.header,
.story-group {
  float:left;
  clear:left;
}
.story-group {
  margin:0 10px;
  padding:5px 0 10px 0;
  border-bottom:1px solid #ccc;
}

.header {
  position:fixed;
  top:24px;
  left:0;
  z-index:10;
  padding-left:185px;
  
  background:#F1F1EF;
  
}
.header h1 {
  font-size:12px;
  line-height:12px;
  font-weight:normal;
  padding:10px 0;
  text-align:center;
  font-weight:bold;
}

.story,
.state,
.header h1,
.story-header {
  float:left;
  width:175px;
}
.user-list {
  margin:0.5em 0.5em 0 0;
}
.user-list img {
  vertical-align:middle;
}
.user-list li {
  line-height:20px;
}
.story-group h2 {
  font-size:12px;
  line-height:150%;
  font-weight:bold;
  padding-left:14px;
  position:relative;
  cursor:pointer;
}
.story-group h2 .toggle {
  position:absolute;
  top:5px;
  left:0;
  width:0px; 
  height:0px; 
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-top:5px solid #555;
  font-size:0px;
  line-height:0px;
}
.story-group.collapsed h2 .toggle {
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  border-left:5px solid #555;
  left:2px;
  top:3px;
}
.story-item-state {
  height:100%;
}
.story-item {
  cursor:move;
  margin:0 5px 10px 5px;
  position:relative;
}
.story-item-details {
  padding: 5px;
  overflow:hidden;
  font-size:10px;
  
/*  display:none;*/
}
.story-item-details img {
  vertical-align:middle;
}
.story-item-details .actions {
  margin-left:20px;
}
.story-item h3 {
  padding:5px;
  position:relative;
  font-size:12px;
  line-height:15px;
  font-weight:normal;
}
.story-item h3 a {
  color:inherit;
}
.story-item h3 .timeleft {
  float:right;
  border-radius:4px;
  margin:0 0 4px 4px;
  padding:2px 4px;
  background:#ccc;
  color:#333;
  line-height:11px;
/*  cursor:pointer;*/
}
.story-item .spinner {
  position:absolute;
  width:100%;
  height:100%;
  opacity:0.5;
  top:0;
  left:0;
  background:#fff;
  cursor:wait;
}
.story-view {
  overflow: hidden;
  width: 100%;
  margin-top: 58px;
}

.story-view .items {
  overflow:hidden;
}

.ui-draggable-dragging {
  z-index:500;
}
