#story-view {
  -webkit-user-select:none;
  -moz-user-select:none;
}
.header,
.story-group {
  width:1200px;
  float:left;
  clear:left;
}
.story-group {
  margin:0 10px;
  padding:5px 0 10px 0;
  border-bottom:1px solid #ccc;
}

.header {
  -webkit-box-shadow: 0px 1px 10px #888;
  -moz-box-shadow: 0px 1px 10px #888;
  margin-bottom:10px;
  background:#5092BD;
  position:fixed;
  top:24px;
  left:0;
  z-index:1000;
}
.header h1 {
  color:white;
  font-size:24px;
  line-height:40px;
  font-weight:normal;
  letter-spacing:0.1ex;
  width:300px;
}

.story,
.state,
.header h1 {
  float:left;
  width:295px;
}
.header h1 span {
  padding:0 5px;
}
.story-group .owner {
  margin-bottom:5px;
}
.story-group .owner .responsible {
}
.story-group .owner img {
  vertical-align:top;
}
.story-group h2 {
  font-size:16px;
  line-height:36px;
  font-weight:bold;
}
.story-item-state {
  padding:10px 0;
  min-height:62px;
}
.story-item {
  cursor:move;
  margin:5px 5px 10px 5px;
  position:relative;
}
.story-item-details {
  padding: 5px;
  overflow:hidden;
  font-size:10px;
  
/*  display:none;*/
}
.story-item-details img {
  vertical-align:middle;
}
.story-item-details .actions {
  margin-left:20px;
}
.story-item h3 {
  padding:5px;
  position:relative;
  border-bottom:1px solid #555;
  font-size:12px;
  line-height:15px;
  font-weight:normal;
}
.story-item h3 a {
  color:inherit;
}
.story-item h3 .timeleft {
  float:right;
  border-radius:4px;
  margin:0 0 4px 4px;
  padding:2px 4px;
  background:#ccc;
  color:#333;
  line-height:11px;
  cursor:pointer;
}
.story-item .spinner {
  position:absolute;
  width:100%;
  height:100%;
  opacity:0.5;
  top:0;
  left:0;
  background:#fff;
  cursor:wait;
}
.story .story-item h3,
.state-0 .story-item h3 {
  background:#692f25;
  color:white;
}
.state-0 .story-item .story-item-details {
  background:#dbafa7;
}
/*.state-0 .story-item .responsible,
.state-0 .story-item .duration {
  border-color:#9c1d08;
  background: #eed7d3;
}
*/
.state-1 .story-item h3 {
  background:#e86900;
  color:white;
}
.state-1 .story-item .story-item-details {
  background:#f0c18d;
}
/*.state-1 .story-item .responsible,
.state-1 .story-item .duration {
  border-color:#cf5e00;
  background: #f8dfc8;
}
*/
.state-2 .story-item .story-item-details {
  background:#88bbf5;
}
.state-2 .story-item h3 {
  background:#183969;
  color:white;
}
/*.state-2 .story-item .responsible,
.state-2 .story-item .duration {
  border-color:#448ccb;
  background: #c4def8;
}
*/
.state-3 .story-item .story-item-details {
  background:#999999;
}
.state-3 .story-item h3 {
  background:#333333;
  color:white;
}
/*.state-3 .story-item .responsible,
.state-3 .story-item .duration {
  border-color:#333333;
  background: #eeeeee;
}
*/
.state-4 .story-item .story-item-details {
  background:#9bd13c;
}
.state-4 .story-item h3 {
  background:#1d5413;
  color:white;
}
/*.state-4 .story-item .responsible,
.state-4 .story-item .duration {
  border-color:#678e21;
  background: #cbe8a5;
}
*/
.story-view {
  overflow: hidden;
  width: 100%;
  margin-top: 24px;
}

.story-view .items {
  margin-top:50px;
}

.ui-draggable-dragging {
  z-index:999;
}
