body {
  font-size:11px;
  line-height:130%;
  font-family:Arial, sans-serif;
  color:black;
  background:white;
  padding:0;
  margin:0;
  -webkit-user-select:none;
  -moz-user-select:none;
}

html, body {
    height: 100%;
    background: #F1F1EF;
}

h1,h2,h3 {
  margin:0;
  padding:0;
}
ul,li {
  list-style-type:none;
  margin:0;
  padding:0;
}

#login-area {
  margin:20px;
  font-size:13px;
  padding: 15px 30px 30px 30px;
  background: #c3dbef;
  border: 1px solid #E7E7E7;
  border-radius: 20px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
  font-family: PT Sans, Arial, serif;
  width:300px;
}
#login-area a {
  display:block;
  background:#e86900;
  color:white;
  padding:10px 2px;
  margin-right:4px;
  border-radius:5px;
  -moz-border-radius:5px;
  width:300px;
  text-decoration:none;
  text-align:center;
  font-weight:bold;
  font-size:18px;
}
#login-area a:hover {
  text-decoration:underline;
}
#login-area .error {
  font-weight:bold;
}

#story-view {
  display:none;
}
.header,
.story-group {
  width:1200px;
  float:left;
  clear:left;
}
.story-group {
  margin:0 10px;
  padding:5px 0 10px 0;
  border-bottom:1px solid #ccc;
  height: 100%;
}

.story-group ul {
    height: 100%;
}

.header {
  -webkit-box-shadow: 0px 1px 10px #888;
  -moz-box-shadow: 0px 1px 10px #888;
  margin-bottom:10px;
  background:#5092BD;
}
.header h1 {
  color:white;
  font-size:24px;
  line-height:40px;
  font-weight:normal;
  letter-spacing:0.1ex;
}
img {
  border-radius:4px;
  -moz-border-radius:4px;
}

.state {
    height: 100%;
}
.story,
.state,
.header h1 {
  float:left;
  width:295px;
}
.header h1 {
  width:300px;
}
.header h1 span {
  padding:0 5px;
}
.story-group .owner {
  margin-bottom:5px;
}
.story-group .owner img {
  vertical-align:top;
}
.story-group h2 {
  font-size:16px;
  line-height:36px;
  font-weight:bold;
}
.story-item-state {
  background:#fff;
  padding:10px 2px;
  
  margin-right:4px;
  border-radius:5px;
  -moz-border-radius:5px;
  
}
.story-item-details {
  border-radius:5px;
  -moz-border-radius:5px;
  margin:5px 0;
  -webkit-box-shadow: 3px 3px 10px #888;
  -moz-box-shadow: 3px 3px 10px #888;
  display:none;
  padding: 20px 20px 7px 20px
}
.story-item-details .duration {
  float:right;
  width:40px;
  height:40px;
  line-height:40px;
  font-size:2em;
  text-align:center;
  margin-left:5px;
  padding:5px;
  border:1px solid red;
}
.story-item-details .avatar,
.story-item-details .avatar img {
  height:40px;
  width:40px;
  float:left;
  margin-right:5px;
}
.story-item-details .responsible {
  height:40px;
  padding:5px;
  border:1px solid red;
  margin-right: 60px;
}

.story-item h3 {
  padding:5px 20px;
  -webkit-box-shadow: 3px 3px 10px #888;
  -moz-box-shadow: 3px 3px 10px #888;
  border-radius:5px;
  -moz-border-radius:5px;
  position:relative;
}
.story-item .draghandle,
.story-item .toggle {
  height:12px;
  width:12px;
  display:inline-block;
  position:absolute;
  top:5px;
}
.story-item .draghandle {
  cursor:move;
  left:5px;
  background:url(i/icon_expand.png) 0 0 no-repeat;
}
.story-item .toggle {
  cursor:pointer;
  right:5px;
  background:url(i/icon_down.png) 0 0 no-repeat;
}
.story-item .toggle.expanded {
  background:url(i/icon_up.png) 0 0 no-repeat;
}
.story-item {
/*  cursor:move;*/
  margin:5px;
  position:relative;
}
.story-item .spinner {
  position:absolute;
  width:100%;
  height:100%;
  opacity:0.5;
  border-radius:5px;
  -moz-border-radius:5px;
  top:0;
  left:0;
  background:#fff;
}
.story-item h3 {
  font-size:11px;
  line-height:13px;
}
.story .story-item h3,
.state-0 .story-item h3 {
  background:#692f25;
  color:white;
}
.state-0 .story-item .story-item-details {
  background:#dbafa7;
}
.state-0 .story-item .responsible,
.state-0 .story-item .duration {
  border-color:#9c1d08;
  background: #eed7d3;
}

.state-1 .story-item h3 {
  background:#e86900;
  color:white;
}
.state-1 .story-item .story-item-details {
  background:#f0c18d;
}
.state-1 .story-item .responsible,
.state-1 .story-item .duration {
  border-color:#cf5e00;
  background: #f8dfc8;
}

.state-2 .story-item .story-item-details {
  background:#88bbf5;
}
.state-2 .story-item h3 {
  background:#183969;
  color:white;
}
.state-2 .story-item .responsible,
.state-2 .story-item .duration {
  border-color:#448ccb;
  background: #c4def8;
}
.state-3 .story-item .story-item-details {
  background:#999999;
}
.state-3 .story-item h3 {
  background:#333333;
  color:white;
}
.state-3 .story-item .responsible,
.state-3 .story-item .duration {
  border-color:#333333;
  background: #eeeeee;
}

.state-4 .story-item .story-item-details {
  background:#9bd13c;
}
.state-4 .story-item h3 {
  background:#1d5413;
  color:white;
}
.state-4 .story-item .responsible,
.state-4 .story-item .duration {
  border-color:#678e21;
  background: #cbe8a5;
}

#main {
    height: 100%;
}

#dashboard {
    padding: 30px;
}

#dashboard .stories > li {
    float: left;
    width: 370px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 20px;

    overflow: hidden;
    padding: 30px 30px 30px 30px;
    background: #c3dbef;
    border: 1px solid #E7E7E7;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05);
    font-family: PT Sans, Arial, serif;
    position: relative;
}

#dashboard .stories > li a {
    font-size: 35px;
    text-decoration: none;
    color: #000;
    display: block;
    line-height: 40px;
    margin-bottom: 10px;
    height:40px;
    overflow:hidden;
    text-overflow:ellipsis;
}
#dashboard .stories > li .numbers {
  font-size:25px;
  line-height:25px;
}

#dashboard .stories > li ul.status {
    position: absolute;
    top: 130px;
}

#dashboard .stories > li ul.status li {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 10px;
    color: #fff;
    padding: 5px;
}

#dashboard .stories > li ul li span {
    font-size: 25px;
    display: block;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

#dashboard .stories > li ul.status li.not-started {
    background: #ff3300;
    background: url(i/status_icons-devdone.png) no-repeat center bottom);
}

#dashboard .stories > li ul.status li.dev-started {
    background: #ff9933;
}

#dashboard .stories > li ul.status li.dev-done {
    background: #006699;
}

#dashboard .stories > li ul.status li.qa-done {
    background: #333333;
}

#dashboard .stories > li ul.status li.po-done {
    background: #339933;
}


header {
    overflow: hidden;
    margin-left: 30px;
    margin-top: 30px;
}

header h2 {
    font-size: 56px;
    line-height: 48px;
    color: #6C6C6C;
    cursor: pointer;
}

header h1 {
    background: url("i/scrumio_logo-250.png") no-repeat 0 0px;
    overflow: hidden;
    width: 250px;
    height: 85px;
    text-indent: -5000px;
    float: left;
    margin-right: 10px;
}

#dashboard li .graph {
    position: absolute;
    bottom: 10px;
    left:20px;
    padding:10px;
    background:#8ebbe1;
    border:1px solid #448ccb;
}

.hidden {
    display: none;
}

.story-view {
   overflow: hidden;
   width: 100%;
    height:100%;
    margin-top: 30px;
}

.story-view .items {
    height:100%;
}
div#container { position: relative; margin: 0 auto; padding: 0; text-align: left; top: 80px; width: 250px; }

/*	BULLET GRAPH */
div.box-wrap { position: relative; width: 370px; height: 21px; top: 0; left: 0; margin: 0; padding: 0; background: #bad6ec; }

/*	CHANGE THE WIDTH AND BACKGROUND COLORS AS NEEDED */
div.box1 { position: absolute; height: 20px; width: 30%; left: 0; background-color: #eeeeee; z-index: 1; font-size: 0; }
div.box2 { position: absolute; height: 20px; width: 30%; left: 30%; background-color: #dddddd; z-index: 1; font-size: 0; }
div.box3 { position: absolute; height: 20px; width: 30%; left: 60%; background-color: #bbbbbb; z-index: 1; font-size: 0; }
div.box4 { position: absolute; height: 20px; width: 10%; left: 90%; background-color: #bbbbbb; z-index: 1; font-size: 0; }


/* RED LINE */
div.target { position: absolute; height: 21px; width: 4px; left: 32px; top: 0; background-color: #fff; z-index: 7; font-size: 0; }

/* ONE SEGMENT ONLY */
div.actual { position: absolute; height: 8px; left: 0px; top: 6px; background-color: #fff; font-size: 0; z-index: 5; font-size: 0; }

/* TWO SEGMENTS */
div.actualMAX { position: absolute; height: 8px; left: 0px; top: 6px; background-color: #70a1d8; font-size: 0; z-index: 5; font-size: 0; }
div.actualPART { position: absolute; height: 8px; left: 0px; top: 6px; background-color: #0a50a1; font-size: 0; z-index: 5; font-size: 0; }

.total_graph {
    position: absolute;
    top: 55px;
    left: 300px;
}